//temp
.cf-video,
.cf-links-to-url,
.cf-test,
.cf-details {
  display: none;
}

#all_pic_store {
  position: absolute;
  left: 0;
  top: 4em;
  width: 16ch;
  display: none;
}

#sideView {
  width: 100%;
  height: 100%;
}
// #page-article:has(#sideView) {
// padding: 4em 2% 0;
// }
.txp-body:has(#sideView) {
  @media (min-width: 1280px) {
    max-width: 100%;
    display: grid;
    gap: 4%;

    grid-template-columns: minmax(420px, 1280px) minmax(360px, 1280px);
  }
}

#sideView_container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: calc(100vh - 5em);

  @media (max-width: 1279px) {
    position: fixed;
    z-index: 10000;
    width: max(400px, 50vw);
    top: 0;
    height: calc(100vh - 2em);
    left: 0;
    resize: both;
    overflow: visible;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
    background: var(--clr-bkgd);
    padding: .5em;
    header > p {
      position: absolute;
      right: 1.5em;
      top: .5em;
    }
  }

  @media (max-width: 980px) {
    width: 100vw;
  }

  header {
    position: sticky;
    top: 0;
    margin-top: calc(-1em - 2px);
    padding: .5em 1em;
    border: 1px solid var(--clr-brdr-lite);
    border-radius: 0 0 .33rem .33rem;
    border-shadow: 0 .1em .125em #00000026;

    @media (min-width: 1279px) {
      display: grid;
      grid-template-columns: auto 1fr auto; //repeat(auto-fill, minmax(24ch, 1fr));
      gap: 0 1em;
      align-items: baseline;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: baseline;
    gap: 1em;

    +p {
      justify-self: end;
    }

    a {
      cursor: pointer;
    }
  }

  .all_pics {
    margin-top: 1em;

    a {
      display: none;
    }
  }

  h5,
  ul,
  div {
    .all_pics__edit--is-active & {
      display: none;
    }
  }
}

[data-name="shortcode"] {
  min-width: 36ch;
  grid-column-start: 1;
  grid-column-end: -1;

  a {
    cursor: pointer;
  }

  input {
    min-width: 36ch;
  }
}

#shortcodeOut {
  display: none;
  padding: 1em;
  height: min-content;
}

.all_pics {
  padding: 0;
  list-style: none;
  display: grid;
  gap: .5em;
  grid-template-columns: auto;

  /* at most 2 */
  &:has(li:nth-last-child(-n+2):first-child, li:nth-last-child(-n+2):first-child ~ li) {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }

  /* at least 3 */
  &:has(li:nth-last-child(n+3), li:nth-last-child(n+3) ~ li) {
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  }

  &__item {
    margin-block: 0;
    position: relative;

    img {
      cursor: move;
    }

    &--url img {
      cursor: initial;
    }

    p {
      margin: 0;
      position: absolute;
      left: .25em;
      top: .25em;
      display: flex;
      gap: .5em;
    }
  }
}

.all_pics__add {
  display: block;
  margin-block: 1em;

  span {
    transform: rotateZ(90deg);
  }
}

.all_pics__icon {
  display: inline-block;
  background-color: var(--clr-bkgd);
  border-radius: 50%;
  height: 16px;
  opacity: 0;
  transition: opacity .3s ease;

  .all_pics__item:hover & {
    opacity: 1;
  }

  .all_pics__edit {
    transform: scale(.8);
  }

  .all_pics__delete,
  .all_pics__edit {
    // filter: invert(1);
  }
}

.all_pic_modified {
  &.content {
    @media (max-width: 47em) {
      font-size: smaller;
    }

    padding: 0;
  }

  .txp-header,
  .txp-footer,
  .txp-list-col-tag-build {
    display: none;
  }
}

// admin prefs additions
#prefs_group_all_pic label:after{
  display: block;
  color: var(--clr-text-placeholder);
}
label[for="all_pic_fields"]:after {
  content: 'eg. #article-image, #custom-1, #custom-3';
}
label[for="all_pic_shortcode"]:after {
  content: "(omit out the closing '/>' tag)";
}